{#{% extends 'base.html' %}#}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Document</title>
</head>

<body>

<header id="header">

    <div class="container">
        <div class="header">
            <img src="{% static 'img/logo.svg' %}" alt="">
            <div class="header-img">
                <a href="{% url 'order-search' %}">
                    <img src="{% static 'img/menu.svg' %}" alt="">
                </a>
                <img src="{% static 'img/settings.svg' %}" alt="">
            </div>
        </div>
    </div>
</header>

<div id="hero">

    <div class="container">

        <div class="hero">
            <div class="form">
            <form method="GET" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="date" name="date">
                <input type="submit" value="Save">
            </form>
            </div>
            {% for order in orders %}
            <h1>{{ order.table }} {% if order.status %}(Закрыт){% endif %}</h1>
            <i>{{ order.time_created|date:'H:i' }}</i>
            <table>
                <tr>
                    <th>Название</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Итого</th>
                </tr>

                {% for order_item in order.items.all %}

                <tr>
                    <td>{{ order_item.dish.name_ru }}</td>
                    <td>{{ order_item.dish.price }}</td>
                    <td>{{ order_item.quantity }}</td>
                    <td>
                        {% widthratio order_item.dish.price 1 order_item.quantity %}
                    </td>
                </tr>

                {% endfor %}

                <tr>
                    <td><b>
                        {% if order.is_takeaway %}
                            С собой
                        {% else %}
                            Здесь
                        {% endif %}
                    </b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><b>
                        {% if order.payment %}
                            Наличка
                        {% else %}
                            Терминал
                        {% endif %}
                    </b></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tr>
                <tr>
                    <td><b>Общая сумма:</b></td>
                    <td><b>{{ order.total_price }}</b></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <form action="{% url 'get_cheque' order.id %}">

                            <input type="submit" value="Выдать чек">
                        </form>

{#                        <form action="{% url 'complete_order' order.id %}">#}
                        <a href="{% url 'complete_order' order.id %}">
                            <input type="submit" value="Завершить заказ">
                        </a>
{#                        </form>#}
                    </td>
                    <!-- <td colspan="2"></td> -->
                </tr>

            </table>
            {% endfor %}
        </div>

    </div>
</div>

</body>
</html>
